.card{
    img{
        min-width: 100%;
        max-width: 100%;
        min-height: 300px;
        max-height: 300px;
        object-position: center;
        object-fit: cover;
        background: #fff;
        transition: .3s;
        &:hover{
            opacity: .8;
        }
    }
}